################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OfficeNotifications.Tests/appsettings.json
/src/OfficeNotifications.Web/appsettings.json
